{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title | safe}}
{% endblock %}

{% block body %}
    <form action="{% url "save_edit_entry" title%}" method="POST">
        {% csrf_token %}
        Title: <input type="text" value="{{ title }}" name="new_title" required><br><br>
        
        <label for="new_description">Description:</label><br>
            <textarea id="new_description" name="new_content">{{ content }}</textarea>

        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}